* {
  box-sizing: border-box;
}

body,
html {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 16px;
}

@media (max-width: 575.98px) {

  .form-container,
  .log-container {
    padding: 12px;
    font-size: 0.85rem;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {

  .form-container,
  .log-container {
    padding: 15px;
    font-size: 0.9rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {

  .form-container,
  .log-container {
    padding: 18px;
    font-size: 1rem;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  #app {
    max-width: 900px;
  }
}

@media (min-width: 1200px) {
  #app {
    max-width: 1000px;
  }
}


h1 {
  color: #fff;
  text-align: center;
  margin-top: 0;
}

label {
  display: block;
  margin-top: 15px;
  font-weight: 600;
  color: #bbbbbb;
  flex: 1;
}

input:not([type="checkbox"]),
select,
button,
pre {
  margin-top: 5px;
  padding: 8px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #333;
  font-size: 1rem;
  background-color: #2a2a2a;
  color: #e0e0e0;
}

select {
  height: auto;
}

button {
  margin-top: 20px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  border: none;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #0056b3;
}

pre {
  width: 100%;
  color: #4CBB17;
  border: none;
  overflow-y: auto;
  padding: 15px;
  margin-top: 15px;
  background: #1e1e1e;
  border-radius: 8px;
}