@import './base.css';
.app {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.form-container {
  background: #1e1e1e;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
}

.label_serie {
  margin-top: 0px;
}

.error-container {
  color: red;
  margin-top: 1rem;
}

.checkbox-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

.checkbox-group label {
  display: inline-block;
  margin: 0;
  white-space: nowrap;
  hyphens: none;
}

.checkbox-group input[type="checkbox"] {
  margin: 0;
  padding: 0;
  flex: 0 0 auto;
}