/*@import './base.css';*/
* {
  box-sizing: border-box;
}

body,
html {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 25px;
  background-color: #121212;
  color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 16px;
}

#app {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

@media (min-width: 1000px) {
  #app {
    min-width: 1000px;
  }
}

h1 {
  color: #fff;
  text-align: center;
  margin-top: 0;
}

.form-container {
  background: #1e1e1e;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
}

label {
  display: block;
  margin-top: 15px;
  font-weight: 600;
  color: #bbbbbb;
  flex: 1;
}

.label_serie {
  margin-top: 0px;
}

input:not([type="checkbox"]),
select,
button,
pre {
  margin-top: 5px;
  padding: 8px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #333;
  font-size: 1rem;
  background-color: #2a2a2a;
  color: #e0e0e0;
}

select {
  height: auto;
}

button {
  margin-top: 20px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  border: none;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #0056b3;
}

pre {
  width: 100%;
  color: #4CBB17;
  border: none;
  overflow-y: auto;
  padding: 15px;
  margin-top: 15px;
  background: #1e1e1e;
  border-radius: 8px;
}

.error-container {
  color: red;
  margin-top: 1rem;
}

.checkbox-group {
  display: flex;
  align-items: center;       /* Vertikal zentrieren */
  gap: 0.5rem;               /* Gleichmäßiger Abstand zwischen Checkbox und Label */
  margin-top: 1rem;          /* Abstand zum vorherigen Feld */
}

.checkbox-group label {
  display: inline-block;
  margin: 0;
  white-space: nowrap;
  hyphens: none;
}

.checkbox-group input[type="checkbox"] {
  margin: 0;
  padding: 0;
  flex: 0 0 auto;
}